html {
	scroll-behavior: smooth;
}


/* main variables */
:root {
	--white: #ffffff;
	--black: #000000;
	--lighter-gray: #fafafa;
	--light-gray: #e3e3e3;
	--medium-gray: #dadada;
	--dark-gray: #353535;
	--darker-gray: #101010;
	
	--lighter-purple: #f4c5ddff;
	--light-purple: #b34693;
	--medium-purple: #860b63;
	--dark-purple: #3e0e2f;
	--darker-purple: #270521;

	--lighter-green: #9bffa5;
	--light-green: #70c64b;
	--medium-green: #1fa52b;
	--dark-green: #0b863b;
	--darker-green: #093012;

	--lighter-red: #ffb0ab;
	--light-red: #a54938;
	--medium-red: #ec1830;
	--dark-red: #860300;
	--darker-red: #400000;

	--lighter-blue: #a4c5ea;
	--light-blue: #2e8bcb;
	--medium-blue: #2e41b1;
	--dark-blue: #1c2e71;
	--darker-blue: #060a60;

	--lighter-yellow: #fff1a8;
	--light-yellow: #ece65c;
	--medium-yellow: #eccf30;
	--dark-yellow: #b7861f;
	--darker-yellow: #744c08;

	--lighter-orange: #fdb481;
	--light-orange: #f68654;
	--medium-orange: #ec6930;
	--dark-orange: #b4460f;
	--darker-orange: #712b03;


	--default-transition-time: 300ms;
}

/* themes */
.dark {
	--background: var(--darker-gray);
	--color: var(--lighter-gray);
	--a: var(--lighter-purple);
	--a-hover: var(--light-gray);
	--nav-bg: var(--darker-purple);
	--subtitle-color: var(--lighter-green);
	--blockquote-decor: none;
	--blockquote-weight: none;
	--blockquote-font-style: none;
	--blockquote-font-size: .9em;
	--blockquote-border: 4px solid var(--medium-purple);

	--nav-animations-bg: var(--medium-green);
	--nav-games-bg: var(--medium-red);
	--nav-music-bg: var(--medium-blue);
	--nav-blog-bg: var(--dark-yellow);
	--nav-blog-bg-hover: var(--dark-gray); 
}

.light {
	--background: var(--light-gray);
	--color: var(--dark-gray);
	--a: var(--medium-blue);
	--a-hover: var(--light-blue);
	--nav-bg: var(--lighter-blue);
	--subtitle-color: var(--darker-blue);
	--blockquote-decor: none;
	--blockquote-weight: none;
	--blockquote-font-style: none;
	--blockquote-font-size: .9em;
	--blockquote-border: 4px solid var(--medium-blue);

	--nav-animations-bg: var(--medium-green);
	--nav-games-bg: var(--medium-red);
	--nav-music-bg: var(--medium-blue);
	--nav-blog-bg: var(--dark-yellow);
	--nav-blog-bg-hover: var(--lighter-gray); 
}

.high-contrast {

}

.candy {

}

.marine {

}

.forest {

}

.solar {

}

.sandy {

}

.terminal {

}

.purple {

}


/* main elements */
body {
	color: var(--color);
	margin: 0px;
	background: var(--background);
	font-size: 1.3rem;
	font-family: "Ubuntu", "miriam", sans-serif;

	transition: var(--default-transition-time) ease-out;
}

a {
	text-decoration: none;
	color: var(--a);
	font-weight: bold;

	/* transition */
	transition: color 200ms ease-out;
}

a:hover {
	color: var(--a-hover);
}

blockquote {
	margin: 1.5em;
	padding-left: 2em;
	font-weight: var(--blockquote-weight);
	text-decoration: var(--blockquote-decor);
	font-size: var(--blockquote-font-size);
	font-style: var(--blockquote-font-style);
	border-left: var(--blockquote-border);
	color: var(--blockquote);
}


ul {
	list-style-type: none;
	padding-left: 1rem;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "montserrat","Ubuntu", sans-serif;
	font-weight: bold;
}


/* custom classes */
/* navbar */
.navbar {
	background: var(--nav-bg);
	position: relative;
	margin: 0px;
	padding: 1rem;
	text-align: center;

	transition: var(--default-transition-time) ease-out;
}

.nav-item {
	padding: 1rem;
	margin: .3rem;
}

.nav-lang {
	position: fixed;
	left: 90%;
	z-index: 100;
}


.landing {
	position: relative;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

.landing-image {
	min-width: 100vw;
	min-height: 100vh;
	position: absolute;
	z-index: -1;
	filter: brightness(50%) blur(5px);

	transition: filter 500ms ease-in-out;
}

.landing:hover .landing-image{
	filter: brightness(100%) blur(0px);
}

.landing h1 {
	color: var(--lighter-gray);
	font-size: 4em;
	cursor: none;
	text-align: center;
	margin: 1em;
	padding: auto;

	transition: 500ms ease-in-out;
}

.landing h1:hover {
	/*font-size: 4.5em;*/
	opacity: 0;
}

.landing p {
	color: var(--lighter-gray);
	background-color: #000000a0;
	border-radius: 1em;
	font-size: 1.5em;
	text-align: center;
	padding: .5em;
}

.landing-video {
	filter: brightness(.5);
	position: absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

.link-icon {
	transform: scale(1);

	transition: opacity 500ms ease-in-out,
			transform 200ms ease-out;
}

.link-icon:hover{
	opacity: 1;
	transform: scale(1.1);
}


/* content */
.content {
	/*text-indent: 2em;*/
	overflow: hidden;
	padding: 4em;
	min-height: 50%;
	padding-top: 2em;
	color: var(--color);
	width: clamp(45ch, 100%, 75ch);
}


/* footer */
.footer {
	position: relative;
	text-align:center;
	padding: 1em;
}

.footnotes {
	font-size: .8em;
}

/* other */
.icon {
	padding: 3px;
	max-width: 1.3rem;
	min-width: 32px;
	height: auto;
	opacity: .25;

	transition: opacity 300ms ease-in-out;
}

.icon:hover {
	opacity: .7;
}

.icon-lang-selected {
	opacity: 1;
}


.subtitle {
	color: var(--subtitle-color);
}


.sidenav {
	padding: 2rem;
	max-width: 20%;
	position: relative;
	display: inline-block;
	/* background-color: var(--nav-bg); */
	border-right: 3px solid var(--nav-bg);

	transition: var(--default-time-transition) ease-out;
}


.toc {
	border: 1px solid var(--color);
	margin: 2ch;
	position: relative;
	padding: 1em;
}
.toc ul {
	list-style-type: number;	
}

.blog-content {
	max-width: 75ch;
	text-align: justify;
}
.blog-content p {
	text-indent: 3em;
}

.blog-list-item {
	display:grid;
	grid-template-columns:30% 70%;
	padding: 1rem;

	transition: 200ms ease-out;
}

.blog-list-item:hover {
	background-color: var(--nav-blog-bg-hover);

	transform: scale(1.01);
}

.grid-2 {
	display: grid;
	grid-template-columns: 50% 50%;
}

.grid-3 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.grid-3-fixed {
	display: grid;
	grid-template-columns: 33% 34% 33%;
}

.grid-4 {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.grid-item {
	text-align: center;
	display: inline;
	z-index: 0;
}

/*
.grid-item:hover {
	z-index: 1;
}
*/


.tag {
	margin: 1px;
	padding: .5em;
	border-radius: .3em;
	display: inline-block;
	color: var(--nav-bg);
	opacity: .3;
	filter: grayscale(1);

	transition: 320ms ease-out;
}

.tag:hover {
	color: var(--a-hover);
	background-color: var(--nav-bg);
	transform: scale(1.1);
	opacity: 1;
	filter: grayscale(0);
}

.cover {
	border-radius: 1em;
	position: relative;
	overflow: hidden;
}

.cover:hover .cover-text {
	opacity: 1;
}

.cover:hover .cover-img {
	/* opacity: .5; */
	transform: scale(1.1);
}

.cover-img-blur {
	opacity: .25;
}

.cover:hover .cover-img-blur {
	opacity: 1;
}

.cover-text {
	font-size: .7em;
	padding: 1em;
	background-color: var(--background);
	border-radius: 1em;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 500ms ease-in-out;
}

.cover-img {
	max-width: 100%;
	max-height: 100%;
	height: auto;

	transition: 300ms ease-in-out;
}

.navmenu {
	position: relative;
	overflow: hidden;
	margin: 0px;
}

.navmenu-item {
	width: 100vw;
	color: var(--lighter-gray);
	filter: brightness(50%);
	overflow: hidden;

	transition: filter 200ms ease-in-out,
			transform 300ms ease-out;
}

.navmenu-item:hover {
	color: var(--a-hover);

	filter: brightness(100%);
}

.navmenu-item h1 {
	text-align: center;
	text-shadow: 3px 3px 10px black;
}

.nav-image {
	margin: 0px;
	min-width: 100vw;
	min-height: 100vh;
	position: absolute;
	z-index: -1;
	filter: brightness(50%);

	transition: filter 500ms ease-in-out;
}


.animations {
	background: var(--nav-animations-bg);
}

.games {
	background: var(--nav-games-bg);
}

.music {
	background: var(--nav-music-bg);
}

.blog {
	background: var(--nav-blog-bg);
}


.term-list-h1 {
	text-align: center;
	color: var(--subtitle-color);
}


.blog-list {
	text-align: left;
	padding-left: 0px;
}
.blog-img {
	overflow: hidden;
	max-height: 50vh;
}

.img-taxonomy {
	float:right;
	max-width:50vw;
	max-height:50vh;
	display:inline;
	margin: 1rem;
	transform: scale(1);

	transition: 200ms ease-out;
}
.img-taxonomy:hover {
	transform: scale(1.1);
}


.prev-next-img {
	height: 90%;
	width: auto;
	opacity: 75%;

	transition: 300ms ease-out;
}

.prev-next-img:hover {
	height: 100%;
	opacity: 1;
}


.btn-play-game {
	text-align: center;
	background-color: var(--nav-bg);
	padding: 1em;
	color: var(--color);
	font-size: 1.3em;
	border: 1px solid var(--color);
	position: static;
	border-radius: 1em;

	transition: 300ms ease-out;
}

.btn-play-game:hover {
	background-color: var(--nav-games-bg);
	transform: scale(1.1);
}

.btn-more {
	display:grid;
	margin:.3rem;
	padding:.2rem;
	border-radius:.5rem;
	background-color:var(--darker-blue);
	color: var(--lighter-gray);
	min-height:2rem;
	content-align:center;

	transition: 300ms ease-out;
}

.btn-more:hover {
	transform: scale(1.02);
}


.code {
	background-color: var(--nav-blog-bg-hover);
	word-wrap: break-word;
	font-family: monospace;
	text-align: left;
	margin: 1em;
	padding: 1em;
	text-indent: 0px;
}
.code p {
	text-indent: 0;
}
.code ul {
	list-style-type: ">";
}

/* rewrites for small screens */
@media screen and (max-width: 850px) {
	body {
		font-size: 1em;
	}

	.content {
		margin: 5%;
		padding: 1em;
	}
	.content p {
		max-width: 75ch;
	}

	.sidenav {
		display: none;
	}

	.nav-image {
		display: none;
	}

	.navmenu-item {
		filter: brightness(100%);
	}

	.grid-2, .grid-3, .grid-4 {
		grid-template-columns: 100%;
	}

	.img-taxonomy {
		margin: 0px;
		padding: 0px;
		float:none;
		display:block;
	}

	.landing h1 {
		font-size: 3em;
		cursor: alias;
	}

	.landing h1:hover {
		font-size: 3.3em;
		opacity: 1;
	}

	.landing p {
		font-size: 1em;

		transition: font-size 300ms ease-in-out;
	}

	.landing-video {
		display: none;
	}

	.prev-next-img {
		height: 60px;
	}

	.prev-next-img:hover {
		height: 64px;
	}

	.cover-text {
		opacity: 1;
	}
}


