{{ define "main" }}

<h1 style="text-align:center">{{ .Title }}</h1>
<span style="text-align:center">{{ .Content }}</span>
<hr>

<ul class="blog-list">
{{ range .Pages }}
<li><a href="{{ .Permalink }}">
		<div class="blog-list-item">
			<div class="grid-item" style="margin-right:1em;"><img src="/img/cover/{{ .Param "cover" }}.jpg" style="max-width:100%;float:left;"></div>
			<div class="grid-item"><span style="text-align:left;"><strong style="font-size:1.4em;">{{ .Title }}</strong> - <span style="font-size:.8em;color:var(--subtitle-color);">{{ dateFormat ":date_medium" .Date }}</span></span><br /><p style="font-weight:normal;color:var(--color);text-align:justify;">{{ .Summary }}</p></div>
		</div>
	</a></li>
{{ end }}
</ul>

<h2>Tags</h2>
<ul>
	{{ $bg_color := shuffle (slice "red" "green" "blue" "purple" "orange" "yellow") }}
	{{ $i := 0 }}
	{{ $p := 0 }}
{{ range $key, $value := .Site.Taxonomies }}
	{{ if eq $key "tags" }}
		{{ $p = len $key }}
		{{ range $value }}
			<a href="{{ .Page.Permalink }}">
				<span class="tag" style="background-color:var(--dark-{{ index $bg_color $i }});color:var(--lighter-gray);">
				{{ .Page.Title }}
				</span>
			</a>
		{{ $i = mod (add $i 1) $p }}
		{{ end }}
	{{ end }}
{{ end }}
</ul>
{{ end }}
