{{ define "main" }}

{{ $c := .Param "cover" }}
{{ $ct := .Param "cover-from-title" }}
{{ $cs := .Param "cover-from-site" }}

{{ $sentences := index $.Site.Data.sentences $.Site.Language.Lang }}

<h1>{{ .Title }}</h1>
<h3 class="subtitle">{{ dateFormat ":date_medium" .Date }}</h3>
<p style="font-size:.7em;">{{ $sentences.reading_time }} {{ .ReadingTime }}min</p>

{{ if $c }}
<div class="blog-img">
<img src="/img/cover/{{ $c }}.jpg" style="display:flex;width:100%;">
</div>
{{ end }}
{{ if and $ct $cs }}
<div style="position:static;font-size:.7rem;text-align:right;z-index:1;bottom:10px;right:5px;background-color:var(--medium-green);padding:.5em;"><a href="{{ $cs }}" target="_blank" style="color:white;">{{ $ct }}</a></div>
{{ end }}

<div class="blog-content">
	{{ .Content }}
	<hr>
</div>

	<div class="toc">
		<p>{{ $sentences.toc }}</p>
		{{ .TableOfContents }}
	</div>
<hr>
{{ partial "tags.html" . }}
<hr>
{{ partial "prev-next.html" . }}
<hr>

{{ $p := . }}

{{/*
{{ range .Site.Pages }}
	{{ if and (not (eq $p .)) (eq .Type $p.Type) (.IsPage)}}
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	{{ end }}
{{ end }}
*/}}

{{ end }}
