{{ define "main" }}

{{ $c := .Param "cover" }}
{{ $ct := .Param "cover-from-title" }}
{{ $cs := .Param "cover-from-site" }}

{{ $sentences := index $.Site.Data.sentences $.Site.Language.Lang }}

<h1>{{ .Title }}</h1>
<h3 class="subtitle">{{ dateFormat ":date_medium" .Date }}</h3>
<p style="font-size:.7em;">{{ $sentences.reading_time }} {{ .ReadingTime }}min</p>

{{ if $c }}
<div class="blog-img-container">
<div class="blog-img">
<img src="/img/cover/{{ $c }}-low.jpg" style="display:flex;width:100%;">
</div>
{{ end }}
{{ if and $ct $cs }}
<div class="blog-img-desc"><a href="{{ $cs }}" target="_blank" style="color:white;">{{ $ct }}</a></div>
</div>
{{ end }}

<div class="blog-content">
	{{ .Content }}
</div>

<div class="toc"><a href="javascript:void(0);"><strong><</strong></a>
		<div class="toc-content">
			<p><strong>{{ $sentences.toc }}</strong></p>
			{{ .TableOfContents }}
		</div>
	</div>
{{ partial "tags.html" . }}
{{ partial "prev-next.html" . }}

{{ $p := . }}

{{/*
{{ range .Site.Pages }}
	{{ if and (not (eq $p .)) (eq .Type $p.Type) (.IsPage)}}
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	{{ end }}
{{ end }}
*/}}

{{ end }}
