<html lang="{{ .Site.Language.Lang }}">
<head>
	{{ partial "head.html" . }}
	{{ partial "style.html" . }}
	<script defer src="/js/theme-switcher.js"></script>
	<script defer src="/js/img-lazy-loader.js"></script>
</head>

<body class="">
	<script src="/js/theme-loader.js"></script>
	<!-- header -->
	<div class="header">
		{{ partial "header.html" . }}

		<div class="h-extra">
		{{ block "header" . }}{{ end }}
		</div>
	</div>

	{{ if .IsHome }}
		{{ partial "home-banner.html" . }}
	{{ end }}

	<div style="display:flex;">
		<!-- sidebar -->
		{{ if not .IsHome }}
			{{ partial "sidenav.html" . }}
		{{ end }}
			
		<!-- content -->
		<div class="content">
			{{ block "main" . }}{{ end }}
		</div>
	</div>

	{{ if .IsHome }}
		{{/* {{ partial "main-pages.html" . }} */}}
		{{/* partial "main-pages-alt.html" . */}}
	{{ end }}
	<!-- <hr> -->
	<div class="footer">
		{{ block "footer" . }}{{ end }}
		{{ partial "footer.html" . }}
	</div>
</body>
</html>
