<html lang="{{ .Site.Language.Lang }}">
<head>
	{{ partial "head.html" . }}
	{{ partial "style.html" . }}
</head>

<body class="dark">
	<!-- header -->
	<div class="header">
		{{ partial "header.html" . }}

		<div class="h-extra">
		{{ block "header" . }}{{ end }}
		</div>
	</div>

	{{ if .IsHome }}
		{{ partial "home-banner.html" . }}
	{{ end }}

	<div style="display:flex;">
		<!-- sidebar -->
		{{ if not .IsHome }}
			{{ partial "sidenav.html" . }}
		{{ end }}
			
		<!-- content -->
		<div class="content">
			{{ block "main" . }}{{ end }}
		</div>
	</div>

	{{ if .IsHome }}
		<div class="navmenu">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		{{ $u := trim .URL "/" }}
			{{ if not (or (eq .URL "/") (eq .URL "/about")) }}
				<a href="{{ .URL }}">
				<div class="navmenu-item {{ $u }}">
					<img class="nav-image" src="/img/menu/{{ $u }}.png" alt="{{ .Name }}" title="{{ .Name }}" />
					<h1>{{ .Name }}</h1>
				</div>
				</a>
			{{ end }}
		</div>
	{{ end }}
</div>
		</div>
	{{ end }}
	<hr>
	<div class="footer">
		{{ block "footer" . }}{{ end }}
		{{ partial "footer.html" . }}
	</div>
</body>
</html>
