{{ define "main" }}

	{{ .Content }}
<!--
## Perguntas que ninguém fez mas eu respondo antes que façam (PQNFMERAQF)

- **Por que um site de portfolio/coisas da vida?**

Porque é melhor manter tudo em um único lugar. Afinal, daqui você pode ver meu site, minhas produções no geral e um pouco do que eu penso/faço da vida.

- **Poderia utilizar alguma plataforma para isso.
Por que não o fez?**

Porque eu também faço web design. Pois é, tenho que mostrar um pouquinho do que sei fazer na prática (se você achou que o design desta página está ruim ignore esta resposta).

- **O que você mais gosta de fazer de todas as coisas mencionadas?**

Yakissoba.

- **Vejo que teu site não tem muita animação nem um design muito elaborado.
Gosta de estilo minimalista?**

Sim, mas o site não é assim por causa disso.
A ideia de fazer o site ser "minimalista" tem a ver com a velocidade de carregamento no navegador.
Fica muito bonito ver algo que tenta te cativar para ver o conteúdo também ao invés de te distrair.
E você pode ler tranquilamente num computador da Xuxa (se ele tiver navegador *web*, no caso).

- **Muitos sites hoje em dia são basicamente uma única página com todo o conteúdo exceto para coisas bem específicas. Por que você escolheu fazer tudo separado?**

Porque meu site não é conteúdo para uma única página.
Não faz sentido eu pedir para o visitante rolar o conteúdo da página se o conteúdo não é o que ele quer ver.
Prefiro deixar que ele mesmo escolha qual o conteúdo vai ver e só carregar o que for necessário para esse conteúdo.
Assim economiza o tempo do visitante e a banda do meu site.
Todo mundo sai ganhando.
-->
{{ end }}
