<div class="grid-2 content-highlight">
	<div class="grid-item" style="text-align:center;">
	{{ $c := .Param "cover" }}
	{{ if not $c }}
		{{ $c = "default"}}
	{{ end }}
		<img style="float:right;width:100%;height:auto;display:inline;margin:2rem;border-radius:20px;" src="/img/cover/{{ $c }}-low.png">
	</div>
	<div class="grid-item">
		<h1 style="display:inline;">{{ .Title }}</h1>
		{{ if not (or (eq .Title "Sobre mim") (eq .Title "About me")) }}
			<p class="subtitle">{{ dateFormat ":date_medium" .Date }}</p>
		{{ end }}
		{{ .Content }}
	</div>
</div>

