{{ $sentences := index $.Site.Data.sentences $.Site.Language.Lang }}

{{ $types := slice "animations" "games" "blog" }}

<div class="grid-2">
	{{ range $types }}
		{{ $n := . }} {{ $p := slice }}
		{{ range $.Site.RegularPages }}
			{{ if eq .Type $n }}
				{{ $p = $p | append . }}
			{{ end }}
		{{ end }}
		{{ $p = first 3 $p }}

	{{ $title := "" }}
	{{ $type := "" }}
	{{ $url := "" }}
	{{ range first 1 $p }}
		{{ $t := .Type }}
		{{ range $.Pages }}
		{{ if eq .Type $t }} {{ $title = .Title }} {{ $type = .Type }} {{ $url = .Permalink }} {{ end }}
		{{ end }}
	{{ end }}

	<div class="grid-item {{ $type }}" style="padding:.4rem;color:var(--lighter-gray);">
		<h2>{{ $title }}</h2>
		<div class="grid-3">
		{{ range $p }}
			<a href="{{ .Permalink }}" class="grid-item cover" style="overflow:hidden;margin:.3rem;">
			{{ $ext := "png" }}
			{{ if (eq .Type "blog") }} {{ $ext = "jpg" }} {{ end }}
			<img src="/img/cover/{{ .Params.cover }}-low.{{ $ext }}" class="cover-img" style="width:33vw;">
			<div class="cover-text">{{ .Title }}</div>
		</a>
		{{ end }}
		</div>
		<a href="{{ $url }}" class="btn-more">
			{{ $sentences.more_items }}
		</a>
	</div>


	{{ end }}
</div>

